In [1]:
import sqlalchemy

In [6]:
engine = sqlalchemy.create_engine('postgresql://postgres:123456@localhost:5432/smartprix_laptop_db')

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%reload_ext sql

In [15]:
# %sql $engine.url

In [16]:
%sql SET search_path TO laptop_schema;

Running query in 'postgresql://postgres:***@localhost:5432/smartprix_laptop_db'

++
||
++
++

In [12]:
%sql postgresql://postgres:123456@localhost:5432/smartprix_laptop_db

Connecting to 'postgresql://postgres:***@localhost:5432/smartprix_laptop_db'

In [17]:
%%sql SELECT name, brand FROM laptops
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/smartprix_laptop_db'

5 rows affected.

+---------------------------------------+---------+
|                  name                 |  brand  |
+---------------------------------------+---------+
|  HP Victus 15-fb0157AX Gaming Laptop  |    HP   |
| Xiaomi Redmi G Pro 2024 Gaming Laptop |  Xiaomi |
|        Tecno Megabook T1 Laptop       |  Tecno  |
|   Samsung Galaxy Book2 Pro 13 Laptop  | Samsung |
| Apple MacBook Air 2020 MGND3HN Laptop |  Apple  |
+---------------------------------------+---------+

In [ ]:
pip install jupysql --upgrade